<footer class="footer mt-auto py-3 bg-light" style="background-color: rgb(133, 0, 0) !important; color: black !important;">
    <div class="container">
        <span>All rights reserved -Esther Díaz Muñoz- 2021</span>
    </div>
</footer>