<head>
  <style>
    body {
      font-family:system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
    .ki{
      background-image: linear-gradient(180deg,
        rgb(175, 0, 0) 0%,
        rgb(58, 0, 0) 100%
      )
    }
  </style>
</head>

<div class="container">

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark" style="background-color: #87878752!important; margin-top:100px!important;">
    <div class="col-md-8 px-0">
      <h1 class="display-2 font-italic"><b>{{title}}</b></h1>
      <p class="lead my-3">Benvolgut/Benvolguda {{#if user}}{{#each user}}{{Nom}}{{/each}}{{/if}}, vols saber quins serveis oferim en MyNTFLX, els seu propòsit, i quins beneficis pots obtenir d'aquí? T'ho expliquem a continuació!</p>
      {{#if user.userID}}
      {{else}}
      <br>
      <p class="lead my-3" style="color: gray;">
        <b>
        Encara no t'has loguejat. Vols participar en la nostra web?...
        </b>
      </p>
      <p class="lead mb-0"><a href="/login" class="text-white font-weight-bold" style="color: rgb(158, 0, 0)!important; text-decoration: none"><b>LOGIN</b></a></p>
      {{/if}}
    </div>
    
  </div>

  <div class="row mb-2 ki" style="margin-top: 40px; padding-bottom:40px">

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: rgba(0, 0, 0, 0.219); border:solid black 5px!important;">
        <div class="col p-4 d-flex flex-column position-static" style="padding: 40px!important;">
          <br>
          <h3 class="mb-0" style="align-items: center; text-align:center; text-decoration:underline"><img src="https://lh3.googleusercontent.com/proxy/6dXCKeksbKRpo1ZMYdZYVpYpRCgMksS0fbf6hShIpb0rXNOQ589wJQRRiKUdGUXh-6g3LR0muNtM5DzfvBz90v2d6__JCrXDdWA0r_hEycsExonah4Q" width="150px" alt=""><br> INSERTA NOVES PEL·LÍCULES I SERIES</h3><br>
          <p class="card-text mb-auto">Sent usuari admin, pots afegir noves pel·lícules i series que t'agradin, i vulguis recomenar a altres usuaris. Pots valorar quant t'ha agradat, valorant amb una nota de 1 a 10. No ets admin? Pots descubrir obres que altres usuaris recomanen!</p><br>
          <a href="/insertar" class="stretched-link" style="color: red; text-align:center">DESCOBREIX!</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: rgba(0, 0, 0, 0.219); border:solid black 5px!important;">
        <div class="col p-4 d-flex flex-column position-static" style="padding: 40px!important;">
          <br>
          <h3 class="mb-0" style="align-items: center; text-align:center; text-decoration:underline"><img src="https://www.iconpacks.net/icons/1/free-user-group-icon-296-thumb.png" width="80px" alt=""><br> VOTAR EN LA ENQUESTA</h3><br>
          <p class="card-text mb-auto">Totes les series i pel·lícules dels nostres usuaris es registren a l'apartat de catàleg. Però quina pel·lícula o serie es la favorita en comú de tots els usuaris? A l'apartat de "Enquesta" pots votar per la teva obra favorita. Al final de cada trimestre es farà una gràfica de les obres mes ben valorades.</p><br>
          <a href="/insertar" class="stretched-link" style="color: red; text-align:center">PARTICIPA!</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: rgba(0, 0, 0, 0.219); border:solid black 5px!important;">
        <div class="col p-4 d-flex flex-column position-static" style="padding: 40px!important;">
          <br>
          <h3 class="mb-0" style="align-items: center; text-align:center; text-decoration:underline"><img style="margin-bottom: 10px;" src="https://www.pngkit.com/png/full/115-1150342_user-avatar-icon-iconos-de-mujeres-a-color.png" width="80px" alt=""><br> PERSONALITZA EL TEU PERFIL</h3><br>
          <p class="card-text mb-auto">Si ets usuari de la nostra pàgina, tens la possibilitat de personalitzar la teva pàgina de perfil. En aquesta s'emmagatzemaràn publicament totes les series i pelicules que recomanis, i podrás editar la imatge de perfil, nom...</p><br>
          <a href="/insertar" class="stretched-link" style="color: red; text-align:center">EDITAR!</a>
        </div>
      </div>
    </div>
        <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: rgba(0, 0, 0, 0.219); border:solid black 5px!important;">
        <div class="col p-4 d-flex flex-column position-static" style="padding: 40px!important;">
          <br>
          <h3 class="mb-0" style="align-items: center; text-align:center; text-decoration:underline"><img src="https://images.squarespace-cdn.com/content/v1/5d2c8ea74ac6c80001c9d522/1563283506191-SPBR57R0339GECZZTATC/icono-bombilla.png" width="60px" alt=""><br> LA TEVA OPINIÓ INPORTA</h3><br>
          <p class="card-text mb-auto">Tens alguna queixa o sugerència relacionat amb aquesta pàgina web? Pots comunicar-ho amb nosaltres directament a travès de l'apartat de "Contacte". La teva opinió ens importa! Una vegada enviis un missatge, será llegit i valorat pels nostres personals.</p><br>
          <a href="/insertar" class="stretched-link" style="color: red; text-align:center">CONTACTAR!</a>
        </div>
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

      <div class="blog-post">
        <h2 class="blog-post-title">Qui Som?</h2>

        <p>Vols saber qui som, i amb quin propòsit fem aquesta pàgina web? <a href="/quiSom" style="color: red;">Coneix-nos</a></p>
        <hr>

    </div><!-- /.blog-main -->


  </div><!-- /.row -->

</main><!-- /.container -->

